@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "prata";
  font-weight: 100;
  font-size: 16px;
  color: #E0AD64;
}

p {
  font-family: "inter";
  font-size: 12px;
  font-weight: 200;
  line-height: 1.5em;
  color: #fff;
}

a {
  font-family: "inter";
  font-size: 12px;
  font-weight: 400;
  color: #E0AD64;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 3;
}
header nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 20px;
  z-index: 3;
}
header nav img {
  width: 70px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #151515;
}
main .hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 100%;
  top: 0px;
}
main .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  font-size: 24px;
  color: #fff;
}
main h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 73%;
}
main .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #151515;
}
main .content .billede_tekst {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 220px;
  background: #151515;
}
main .content .billede_tekst:nth-of-type(2n) {
  background: linear-gradient(rgb(21, 21, 21) 0%, rgb(42, 52, 35) 20%, rgb(42, 52, 35) 80%, rgb(21, 21, 21) 100%);
}
main .content .billede_tekst .content_size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
main .content .billede_tekst .text_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
  gap: 15px;
}
main .content .billede_tekst .billede_section {
  display: none;
}

footer {
  width: 100%;
  border-top: 1px solid #fff;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .footer_logo {
  display: none;
}
footer .text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
  gap: 30px;
}
footer .text_box ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .text_box ul li {
  display: flex;
  list-style-type: none;
}
footer .text_box ul li:first-child a {
  display: flex;
  color: #E0AD64;
}
footer .text_box ul li a {
  font-family: "inter";
  font-size: 12px;
  font-weight: 200;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}
footer img {
  width: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
  width: 80%;
}
footer .border p {
  color: #fff;
}

nav:has(input:checked) {
  background-color: #2A3423;
}
nav input {
  opacity: 0;
  position: absolute;
}
nav input:checked ~ label span {
  top: 50%;
}
nav input:checked ~ label span:nth-of-type(1) {
  transform: rotate(405deg);
}
nav input:checked ~ label span:nth-of-type(2) {
  transform: rotate(-405deg);
}
nav input:checked ~ label span:nth-of-type(3) {
  opacity: 0;
}
nav input:checked ~ ul {
  max-height: calc(100vh - 70px);
}
nav label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  position: relative;
}
nav label span {
  height: 4px;
  width: 100%;
  background-color: #fff;
  transition: 0.4s;
  position: absolute;
  top: calc(100% - 4px);
}
nav label span:first-child {
  top: 0;
}
nav label span:last-child {
  top: 50%;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  max-height: 0;
  list-style: none;
  height: calc(100vh - 70px);
  overflow: hidden;
  top: 70px;
  left: 0;
  z-index: 3;
  background: linear-gradient(rgb(42, 52, 35) 0%, rgb(42, 52, 35) 5%, rgb(21, 21, 21) 80%, rgb(21, 21, 21) 100%);
  transition: 0.4s;
}
nav ul li {
  width: 100%;
  padding: 0 30px;
  margin-top: 40px;
}
nav ul li a {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
  font-size: 24px;
  color: #E0AD64;
  text-decoration: none;
}
nav ul .burger-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  margin-top: 240px;
  border-top: 1px solid #fff;
  background-color: #151515;
}
nav ul .burger-footer img {
  margin-top: 50px;
  width: 160px;
}
nav ul .burger-footer .border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  border-top: 1px solid #fff;
}
nav ul .burger-footer .border p {
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 110px;
    z-index: 3;
    background-color: rgba(48, 59, 39, 0.8);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  header nav img {
    width: 160px;
  }
  header nav input {
    display: none;
  }
  header nav label {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: static;
    flex-direction: row;
    height: 40px;
    max-height: 40px;
    width: auto;
    background: transparent;
  }
  header nav ul .burger-footer {
    display: none;
  }
  header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: auto;
  }
  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    font-size: 16px;
    color: #fff;
    margin-top: 0px;
  }
  main .hero .overlay h3 {
    width: 100%;
    font-size: 96px;
  }
  main .content .billede_tekst {
    height: 750px;
  }
  main .content .billede_tekst:nth-of-type(2n) {
    background: linear-gradient(rgb(21, 21, 21) 0%, rgb(42, 52, 35) 20%, rgb(42, 52, 35) 80%, rgb(21, 21, 21) 100%);
  }
  main .content .billede_tekst:nth-of-type(2n) .content_size {
    flex-direction: row-reverse;
  }
  main .content .billede_tekst:nth-of-type(2n) .billede_section {
    flex-direction: row-reverse;
  }
  main .content .billede_tekst .content_size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  main .content .billede_tekst .content_size .text_section {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 50%;
  }
  main .content .billede_tekst .content_size .billede_section {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 45%;
    height: 50%;
  }
  main .content .billede_tekst .content_size .billede_section img {
    width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20%;
  }
  main .content .billede_tekst .content_size .billede_section img:nth-of-type(2n) {
    margin-top: 20%;
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  footer .logo_liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  footer .logo_liste a {
    width: 20%;
  }
  footer .logo_liste a .footer_logo {
    display: block;
    width: 100%;
  }
  footer .logo_liste .text_box {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 0px;
    width: 70%;
  }
  footer .logo_liste .text_box ul {
    display: flex;
    align-items: baseline;
    padding-right: 0px;
    width: 100%;
  }
  footer .logo_liste .text_box ul li {
    width: 100%;
  }
  footer .logo_liste .text_box ul li a {
    font-size: 20px;
    width: 100%;
  }
  footer img {
    display: none;
  }
  footer .border {
    display: flex;
    justify-content: left;
  }
  footer .border p {
    font-size: 12px;
    padding-left: 40px;
  }
}
@media only screen and (min-width: 1441px) {
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 22px;
  }
  a {
    font-size: 22px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 110px;
    z-index: 3;
    background-color: rgba(48, 59, 39, 0.8);
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0px;
  }
  header nav img {
    width: 160px;
  }
  header nav input {
    display: none;
  }
  header nav label {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    flex-direction: row;
    height: 40px;
    max-height: 40px;
    gap: 50px;
    background: transparent;
  }
  header nav ul .burger-footer {
    display: none;
  }
  header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: auto;
  }
  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    font-size: 20px;
    color: #fff;
  }
  main {
    display: flex;
    justify-content: center;
  }
  main .hero .overlay h3 {
    width: 100%;
    font-size: 96px;
  }
  main .content {
    display: flex;
    justify-content: center;
  }
  main .content .billede_tekst {
    height: 33%;
    width: 100%;
  }
  main .content .billede_tekst:nth-of-type(2n) {
    background: linear-gradient(rgb(21, 21, 21) 0%, rgb(42, 52, 35) 20%, rgb(42, 52, 35) 80%, rgb(21, 21, 21) 100%);
  }
  main .content .billede_tekst:nth-of-type(2n) .content_size {
    flex-direction: row-reverse;
  }
  main .content .billede_tekst:nth-of-type(2n) .billede_section {
    flex-direction: row-reverse;
  }
  main .content .billede_tekst .content_size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  main .content .billede_tekst .content_size .text_section {
    display: flex;
    justify-content: space-between;
    width: 45%;
    height: 50%;
  }
  main .content .billede_tekst .content_size .billede_section {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 45%;
    height: 50%;
  }
  main .content .billede_tekst .content_size .billede_section img {
    width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20%;
  }
  main .content .billede_tekst .content_size .billede_section img:nth-of-type(2n) {
    margin-top: 20%;
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  footer .logo_liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  footer .logo_liste a {
    width: 20%;
  }
  footer .logo_liste a .footer_logo {
    display: block;
    width: 100%;
  }
  footer .logo_liste .text_box {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-top: 0px;
    width: 70%;
  }
  footer .logo_liste .text_box ul {
    display: flex;
    align-items: baseline;
    padding-right: 0px;
    width: 100%;
  }
  footer .logo_liste .text_box ul li {
    width: 100%;
  }
  footer .logo_liste .text_box ul li a {
    font-size: 30px;
    line-height: 60px;
    width: 100%;
  }
  footer img {
    display: none;
  }
  footer .border {
    display: flex;
    justify-content: left;
  }
  footer .border p {
    font-size: 18px;
    padding-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */