nav {
  &:has(input:checked) {
    background-color: $green;
  }

  input {
    opacity: 0;
    position: absolute;
    &:checked {
      & ~ label {
        span {
          top: 50%;
          &:nth-of-type(1) {
            transform: rotate(405deg);
          }
          &:nth-of-type(2) {
            transform: rotate(-405deg);
          }
          &:nth-of-type(3) {
            opacity: 0;
          }
        }
      }
      & ~ ul {
        max-height: calc(100vh - 70px);
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    position: relative;
    span {
      height: 4px;
      width: 100%;
      background-color: $white;
      transition: 0.4s;
      position: absolute;
      top: calc(100% - 4px);
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;

    width: 100%;
    max-height: 0;

    list-style: none;
    height: calc(100vh - 70px);

    overflow: hidden;

    top: 70px;
    left: 0;

    z-index: 3;

    background: linear-gradient(
      rgba(42, 52, 35, 1) 0%,
      rgba(42, 52, 35, 1) 5%,
      rgba(21, 21, 21, 1) 80%,
      rgba(21, 21, 21, 1) 100%
    );

    transition: 0.4s;

    li {
      width: 100%;
      padding: 0 30px;

      margin-top: 40px;

      a {
        display: flex;
        justify-content: flex-start;

        width: 100%;

        margin-top: 10px;

        font-size: 24px;
        color: $orange;
        text-decoration: none;
        // border-bottom: 1px solid $white; //border under tekst
      }
    }
    .burger-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      bottom: 0;

      width: 100%;

      margin-top: 20%;

      border-top: 1px solid $white;

      background-color: $black;
      img {
        margin-top: 50px;
        width: 160px;
      }
      .border {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 20px;

        width: 80%;

        border-top: 1px solid $white;

        p {
          display: flex;
          
          width: 100%;
        }
      }
    }
  }
}
