//Pc
@media only screen and (min-width: $laptop) {
  h1 {
    font-size: 42px;
  }

  h2{
    font-size: 24px;
  }

  h3{
    line-height: 1.1em;
  }

  p {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }

  .mini_links{
    font-size: 0px;
    display: none;
  }

  .knap {
    align-self: center;
    // display: none;
    font-family: "inter"; //Font: Inter
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  
    color: $white;
  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
  
  
    border: 1px solid #151515;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  
    background-color: $orange;
  
    margin-top: 30px;

    transition: .4s;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    height: 110px;

    z-index: 3;

    background-color: $greenop;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;

      transition: .4s;
      :hover{
        color: $orange;
      }

      img {
        width: 160px;
      }

      input {
        display: none;
      }
      label {
        display: none;
      }
      ul {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        position: static;
        flex-direction: row;

        height: 40px;
        max-height: 40px;
        width: auto;

        background: transparent;

        .burger-footer {
          display: none;
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px;
          width: auto;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            justify-content: flex-end;

            font-size: 16px;
            color: $white;

            margin-top: 0px;
          }
        }
      }
    }
  }
  main {
    .hero {
      .overlay {
        h3 {
          width: 100%;
          font-size: 96px;
        }
      }
    }
    .content {
      .billede_tekst {
        height: 33%;
        padding: 0px;

        padding-top: 50px;
        padding-bottom: 50px;

        h1{
          font-size: 30px;
        }

        &:nth-of-type(2n) {
          background: $green-black-bc;

          .content_size {
            flex-direction: row-reverse;
          }

          .billede_section {
            flex-direction: row-reverse;
          }
        }
        .content_size {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;

          width: 80%;

          &--underside{
            width: 90%;
          }

          .text_section {
            display: flex;
            justify-content: space-between;

            width: 45%;
            gap: 50px;
          }

          .underside_text_section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 45%;
            // gap: 20px;

            h2{
              font-size: 18px;
              padding-top: 4%;
            }

            p{
              font-size: 16px;
              padding-top: 2%;
            }
          }
          
          .billede_section {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;

            gap: 20px;

            width: 45%;
            height: 50%;

            img {
              width: 50%;
              height: auto;

              object-fit: cover;
              margin-bottom: 20%;

              &:nth-of-type(2n) {
                margin-top: 20%;
              }
            }
          }
          .billede_box {
            display: flex;
            justify-content: center;
            align-items: center;
  
            width: 50%;
  
            gap: 6%;
  
            padding-top: 6%;
            padding-bottom: 6%;
          }
        }
        iframe {
          height: 100%;
          width: 50%;
  
          margin-top: 20px;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    .logo_liste {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      width: 80%;

      margin-top: 60px;
      margin-bottom: 60px;

      a {
        width: 20%;
        .footer_logo {
          display: block;

          width: 100%;

          transition: .4s;

          &:hover{
            color: $orange;
          }
        }
      }

      .text_box {
        display: flex;
        flex-direction: row;

        gap: 80px;

        padding-top: 0px;
        width: 70%;

        ul {
          display: flex;
          align-items: baseline;

          padding-right: 0px;

          width: 100%;

          li {
            width: 100%;
            a {
              font-size: 16px;

              width: 100%;
            }
          }
        }
      }
    }
    img {
      display: none;
    }
    .border {
      display: flex;
      justify-content: left;
      p {
        font-size: 12px;
        padding-left: 40px;
      }
    }
  }
}
