//Mixin er der hvor man laver genbrugelige dele af kode. skriv @include ............ det er måden at du får fat i din @mixin


@mixin overskrift{
    font-family:'Courier New', Courier, monospace; //skal være en anden font
    font-size: 36px;
    color: rgba($orange);
}

@mixin brødtekst_overskrift{
    font-family:'Courier New', Courier, monospace; //skal være en anden font
    font-size: 18px;
    color: rgba($orange);
}

@mixin brødtekst{
    font-family:'Courier New', Courier, monospace; //skal være en anden font
    font-size: 16px;
    color: rgba($white);
}

